                                    <a href="#">Out doors,</a>
                                    {% extends 'mysite/base.html' %}
                                    {% load static %}
                                    
                                    
                                    
                                    {% block content %}
                                    
                                    
                                        <!-- Start Banner Area -->
                                        
                                        <!-- End Banner Area -->
                                    
                                        <!--================Blog Area =================-->
                                        <section class="blog_area single-post-area section_gap">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-lg-8 posts-list">
                                                        <div class="single-post row">
                                                            <div class="col-lg-12">
                                                                <div class="feature-img">
                                                                    <img class="img-fluid" src="{% static 'baronstore/img/blog/my-blog-3.png' %}" alt="">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3  col-md-3">
                                                                <div class="blog_info text-right">
                                                                    <div class="post_tag">
                                                                        <a href="#">sports,</a>
                                                                        <a class="active" href="#">Fashion,</a>
                                                                        <a href="#">Out doors,</a>
                                                                        <a href="#">Lifestyle</a>
                                                                    </div>
                                                                    <ul class="blog_meta list">
                                                                        <!-- <li><a href="#">Mark wiens<i class="lnr lnr-user"></i></a></li>
                                                                        <li><a href="#">12 Dec, 2018<i class="lnr lnr-calendar-full"></i></a></li>
                                                                        <li><a href="#">1.2M Views<i class="lnr lnr-eye"></i></a></li>
                                                                        <li><a href="#">06 Comments<i class="lnr lnr-bubble"></i></a></li>-->
                                                                    </ul> 
                                                                    <ul class="social-links">
                                                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                                        <li><a href="#"><i class="fa fa-github"></i></a></li>
                                                                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 blog_details">
                                                                <h2>Adidas Yeezy 350 v2 Carbon Review</h2>
                                                                <p class="excert">
                                                                    The yeezy design team hasn't
                                                                    really varied too much on the box in
                                                                    fact they've kept things pretty much the
                                                                    same over the life of the 350 v2s the
                                                                    box is made up of natural cardboard with
                                                                    350 printed on the top and boost printed
                                                                    on one of the sides
                                                                    the back or the front of the box
                                                                    depending on which way that you look at
                                                                    the box has a pull out drawer as most
                                                                    easy boxes do and then the other side of
                                                                    the box has a size tag which like i
                                                                    mentioned before
                                                                    still says asriel azrael azrael instead
                                                                    of carbon carbon carbon for the colorway
                                                                    is that a problem no not at all but it does indicate that
                                                                    the name of the sneaker was changed
                                                                    after the manufacturing process
                                                                </p>
                                                                <p>
                                                                    jumping back into the sneaker itself as
                                                                    with most 350v2s a majority of the upper
                                                                    is made up of prime knit this time around
                                                                    the primeknit comes in a nice subtle mix
                                                                    of colors and the base color is of
                                                                    course black woven throughout the black
                                                                    primeknit you've got some really nice
                                                                    steel blue which is actually the only
                                                                    accent color on the medial side of the
                                                                    shoe
                                                                    on the lateral side of the shoe things
                                                                    do get a little bit crazier I mean
                                                                    as crazy as black primeknit patterns can
                                                                    be near the toe of the shoe the black is
                                                                    accented by a light cream color
                                                                    as you move farther back you've got some
                                                                    more of that steel blue and then just
                                                                    above that on sort of the top
                                                                    quarter panel of the shoe you've got a
                                                                    really interesting mix of steel blue and
                                                                    sort of a grayish green color that color
                                                                    placement actually adds sort of a second
                                                                    side stripe to the shoe which i'm into
                                                                    running down the center of the lateral
                                                                    side you've got your black side stripe
                                                                    and as usual because it's meshed you can
                                                                    sort of see through it
                                                                    however because it's not a clear plastic
                                                                    mesh it's much more difficult to see
                                                                    your sock color than with other colors
                                                                    of the shoe and then moving up on the
                                                                    shoe you get to these black rope laces
                                                                    which weave through the primeknit upper
                                                                    and also
                                                                    don't have ends.
                                                                     it's this sort of
                                                                    infinity loop lacing system which is
                                                                    kind of standard for new Yeezys.
                                                                </p>

                                                                <p>
                                                                    I got to
                                                                    be honest with you the more that i wear
                                                                    Yeezys that have this lacing system the
                                                                    more that i like it
                                                                    i really love the fact that it's so much
                                                                    easier to tighten by just pulling on it
                                                                    and also it doesn't get in your way like
                                                                    you don't have this giant bow over the
                                                                    top of your shoe it never kind of
                                                                    dangles along the side it's just kind of
                                                                    there and i like that about it if you
                                                                    decide to switch out these laces the box
                                                                    does actually come with an extra set of
                                                                    laces in the same color except
                                                                    with ends and if you do decide to switch
                                                                    them out you are gonna have to cut the
                                                                    original laces which
                                                                    kind of sucks but there's really no
                                                                    other way to take them off the shoe.
                                                                </p>
                                                                <p>
                                                                    Moving inside the shoe you've got a
                                                                    black sock liner with the adidas 3
                                                                    stripes in a reflective black material
                                                                    then rounding off the inside of the shoe
                                                                    you've got a black
                                                                    insole with the adidas and Yeezy
                                                                    branding printed on the heel in stone
                                                                    blue when it comes to sizing and fit the
                                                                    adidas easy 350 v2 carbon fits just like
                                                                    every other pair of 350 v2s i mean
                                                                    you're probably gonna guess that already
                                                                    over the last few years since its launch
                                                                    i feel like adidas has slowly fixed the
                                                                    sizing problems with the 350 v2 so
                                                                    i wear this shoe true to size rather
                                                                    than going a half size up however if you
                                                                    like to go a half size up and 350 v2s
                                                                    because you're used to that you still
                                                                    can
                                                                    do that in this shoe as well however if
                                                                    you have the chance to try this shoe on
                                                                    before you buy it or any other pair of
                                                                    350 v2s i guess
                                                                    newer pairs of 350v2s i would definitely
                                                                    suggest doing that to make sure you're
                                                                    grabbing the right size for you.
                                                                </p>
                                                                <p>
                                                                    Then moving around to the heel of the
                                                                    shoe you'll notice that there's no heel
                                                                    tab on this pair of 350 v2s
                                                                    i have no idea why they decide to go
                                                                    with heel tabs on some shoes and they
                                                                    don't go with heel tabs on other shoes
                                                                    it doesn't really make sense to me but
                                                                    this one doesn't have one and that's
                                                                    fine
                                                                    moving down on the shoe you get this
                                                                    really nice color contrast between the
                                                                    black primeknit upper and the
                                                                    semi-translucent cream white midsole
                                                                    even though this colorway isn't anything
                                                                    crazy it's one of the more solid color
                                                                    ways and it still provides a really nice
                                                                    contrast because you've got a very light
                                                                    color on the bottom and a very dark
                                                                    color on the top this is the kind of
                                                                    Yeezy that you can wear every single day
                                                                    it's not an earth tone like every other
                                                                    pair of 350s and it's not neon green
                                                                    so it's really easy to rock and this
                                                                    shoe is also very easy to rock all day
                                                                    because of the full length boost midsole.
                                                                    
                                                                </p>

                                                                <p>
                                                                    And then finally moving to the bottom of
                                                                    the shoe you've got this cream colored
                                                                    outsole which is slightly more yellow
                                                                    than the midsole the Yeezy 350 v2 carbon
                                                                    is a really solid Yeezy and it's one of
                                                                    the most wearable Yeezys because of this
                                                                    super clean black and cream makeup it's
                                                                    a simple colorway for sure but i think
                                                                    that's what makes this shoe so great.
                                                                    
                                                                </p>
                                                               
                                                            </div>
                                                            <div class="col-lg-12">
                                                                <!-- <div class="quotes">
                                                                    MCSE boot camps have its supporters and its detractors. Some people do not understand
                                                                    why you should have to spend money on boot camp when you can get the MCSE study
                                                                    materials yourself at a fraction of the camp price. However, who has the willpower to
                                                                    actually sit through a self-imposed MCSE training.
                                                                </div> -->
                                                                <div class="row">
                                                                    <!-- <div class="col-6">
                                                                        <img class="img-fluid" src="{% static 'baronstore/img/blog/post-img1.jpg' %}" alt="">
                                                                    </div>
                                                                    <div class="col-6">
                                                                        <img class="img-fluid" src="{% static 'baronstore/img/blog/post-img2.jpg' %}" alt="">
                                                                    </div> -->
                                                                    <div class="col-lg-12 mt-25">
                                                                        <!-- <p>
                                                                            MCSE boot camps have its supporters and its detractors. Some people do not
                                                                            understand why you should have to spend money on boot camp when you can get the
                                                                            MCSE study materials yourself at a fraction of the camp price. However, who has
                                                                            the willpower.
                                                                        </p>
                                                                        <p>
                                                                            MCSE boot camps have its supporters and its detractors. Some people do not
                                                                            understand why you should have to spend money on boot camp when you can get the
                                                                            MCSE study materials yourself at a fraction of the camp price. However, who has
                                                                            the willpower.
                                                                        </p> -->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="navigation-area">
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                                                                    <div class="thumb">
                                                                        <a href="#"><img class="img-fluid" src="img/blog/prev.jpg" alt=""></a>
                                                                    </div>
                                                                    <div class="arrow">
                                                                        <a href="#"><span class="lnr text-white lnr-arrow-left"></span></a>
                                                                    </div>
                                                                    <div class="detials">
                                                                        <!-- <p>Prev Post</p> -->
                                                                        <a href="#">
                                                                            <h4>view on Amazon</h4>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <!-- <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                                                                    <div class="detials">
                                                                        <p>Next Post</p>
                                                                        <a href="#">
                                                                            <h4>Telescopes 101</h4>
                                                                        </a>
                                                                    </div>
                                                                    <div class="arrow">
                                                                        <a href="#"><span class="lnr text-white lnr-arrow-right"></span></a>
                                                                    </div>
                                                                    <div class="thumb">
                                                                        <a href="#"><img class="img-fluid" src="img/blog/next.jpg" alt=""></a>
                                                                    </div>
                                                                </div> -->
                                                            </div>
                                                        </div>
                                                        <div class="comments-area">
                                                            <h4> Comments</h4>
                                                            <div class="comment-list">
                                                                <div class="single-comment justify-content-between d-flex">
                                                                    <div class="user justify-content-between d-flex">
                                                                        <div class="thumb">
                                                                            <img src="img/blog/c1.jpg" alt="">
                                                                        </div>
                                                                        <div class="desc">
                                                                            <h5><a href="#">Emilly Blunt</a></h5>
                                                                            <p class="date">December 4, 2020 at 3:12 pm </p>
                                                                            <p class="comment">
                                                                                cool
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="reply-btn">
                                                                        <a href="" class="btn-reply text-uppercase">reply</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- <div class="comment-list left-padding">
                                                                <div class="single-comment justify-content-between d-flex">
                                                                    <div class="user justify-content-between d-flex">
                                                                        <div class="thumb">
                                                                            <img src="img/blog/c2.jpg" alt="">
                                                                        </div>
                                                                        <div class="desc">
                                                                            <h5><a href="#">Elsie Cunningham</a></h5>
                                                                            <p class="date">December 4, 2018 at 3:12 pm </p>
                                                                            <p class="comment">
                                                                                Never say goodbye till the end comes!
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="reply-btn">
                                                                        <a href="" class="btn-reply text-uppercase">reply</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="comment-list left-padding">
                                                                <div class="single-comment justify-content-between d-flex">
                                                                    <div class="user justify-content-between d-flex">
                                                                        <div class="thumb">
                                                                            <img src="img/blog/c3.jpg" alt="">
                                                                        </div>
                                                                        <div class="desc">
                                                                            <h5><a href="#">Annie Stephens</a></h5>
                                                                            <p class="date">December 4, 2018 at 3:12 pm </p>
                                                                            <p class="comment">
                                                                                Never say goodbye till the end comes!
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="reply-btn">
                                                                        <a href="" class="btn-reply text-uppercase">reply</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="comment-list">
                                                                <div class="single-comment justify-content-between d-flex">
                                                                    <div class="user justify-content-between d-flex">
                                                                        <div class="thumb">
                                                                            <img src="img/blog/c4.jpg" alt="">
                                                                        </div>
                                                                        <div class="desc">
                                                                            <h5><a href="#">Maria Luna</a></h5>
                                                                            <p class="date">December 4, 2018 at 3:12 pm </p>
                                                                            <p class="comment">
                                                                                Never say goodbye till the end comes!
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="reply-btn">
                                                                        <a href="" class="btn-reply text-uppercase">reply</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="comment-list">
                                                                <div class="single-comment justify-content-between d-flex">
                                                                    <div class="user justify-content-between d-flex">
                                                                        <div class="thumb">
                                                                            <img src="img/blog/c5.jpg" alt="">
                                                                        </div>
                                                                        <div class="desc">
                                                                            <h5><a href="#">Ina Hayes</a></h5>
                                                                            <p class="date">December 4, 2018 at 3:12 pm </p>
                                                                            <p class="comment">
                                                                                Never say goodbye till the end comes!
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="reply-btn">
                                                                        <a href="" class="btn-reply text-uppercase">reply</a>
                                                                    </div>
                                                                </div>
                                                            </div> -->
                                                        </div>
                                                        <div class="comment-form">
                                                            <h4>Leave a Reply</h4>
                                                            <form>
                                                                <div class="form-group form-inline">
                                                                    <div class="form-group col-lg-6 col-md-6 name">
                                                                        <input type="text" class="form-control" id="name" placeholder="Enter Name" onfocus="this.placeholder = ''"
                                                                            onblur="this.placeholder = 'Enter Name'">
                                                                    </div>
                                                                    <div class="form-group col-lg-6 col-md-6 email">
                                                                        <input type="email" class="form-control" id="email" placeholder="Enter email address"
                                                                            onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <input type="text" class="form-control" id="subject" placeholder="Subject" onfocus="this.placeholder = ''"
                                                                        onblur="this.placeholder = 'Subject'">
                                                                </div>
                                                                <div class="form-group">
                                                                    <textarea class="form-control mb-10" rows="5" name="message" placeholder="Messege"
                                                                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
                                                                </div>
                                                                <a href="#" class="primary-btn submit_btn">Post Comment</a>
                                                            </form>
                                                        </div>
                                                    </div>
                                    
                                                    {% endblock %}
                                    
                                                    <!-- blog right sidebar -->
                                             </div>
                                            </div>
                                        </section>
                                        
                                    
                                    